html{
    background-image: url('output.jpg');
}

.description > span{
    font-family: 'Rubik',sans-serif;
    font-size: 2rem;
    color: orange;
}

.description{

    color: #f4f4f4;
    text-align: center;
    text-decoration: none;
    font-family: 'Rubik',sans-serif;
    font-size : 1.75rem;
}

#genre-filter{
    font-family : 'Rubik',sans-serif;
}

.logo{
    background-color: white;
    color : black;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: 'Aboreto',sans-serif;
    margin : 0px;
}

.movie-brief{
    
    color: white;
    display : flex;
    flex-wrap : wrap;
    gap : 10px;
    justify-content: space-around;
    margin-top: 40px;
}

.search {
    display : flex;
    justify-content: center;
}

input{
    size : 2rem;
    width : 30%;
    height : 2.5rem;
    font-size: 1.25rem;
    font-family : 'Rubik',sans-serif;
}

.movie-brief .brief-info-title{
    margin : 0px;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}

.movie-brief .brief-info-h3{
    margin : 0px;
}


a {
    text-decoration: none;
    color: inherit;
}

.brief-info{
    display : flex;
    flex-direction : column;
    text-align: center;
    width : 300px;
    gap : 10px;
    justify-content: center;
    align-items : center;
    object-fit: cover;
    margin-bottom: 5rem;
    
}

.brief-info img{
    width : 100%;
    height : 450px;
    object-fit: cover;
    border : 5px solid #FFFFFF;
}

.brief-info .brief-movie-title{
    width : 100%;
}


.brief-info .brief-movie-title{
    font-size: 1rem;
    font-display: bold;
}

footer {
    position: fixed;
    right: 1em;
    bottom: 0;
    color:white
}


/* Path: filmwiz*/
/*-------------------------movie details--------------------------------*/


.mainMovieDetails{
    position: relative;
}

.mainMovieDetails::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('maindetailshtmlbg.jpg');
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
}
.mainMovieDetails{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:50px;
}


.image{
    width:auto;
    height:auto;
}
.image img{
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(54, 54, 54);
    height:150vmin;
    width:80vmin;
    max-height:450px;
    max-width:330px;
}
.info{
    width:800px;
    min-width:280px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;

}
.info h1{
    font-size: 42px;
    color:white;
    
}

.info h3{
    color:white;
    
}
.info p{
    color:rgb(215, 207, 207);
    
}
.info span{
    color:orange;
   
}
